:root{
    --color-primary: #000;
    --color-secondary: #fff;
    --Dharma-Gothic: Dharma;
    --exon-outline: exon;
    --inerta-normal: inerta;
}

@font-face {
    font-family: 'Dharma';
    src: url("/css/Fonts/DharmaThin.woff");
    font-style: normal;
    font-weight: 100;   
  }

@font-face {
    font-family: 'Dharmar';
    src: url("/css/Fonts/DharmaRegular.woff");
    font-style: normal;
    font-weight: 600;   
  }

@font-face {
    font-family: 'Dharmar';
    src: url("/css/Fonts/DharmaBold.woff");
    font-style: normal;
    font-weight: 800;   
  }

@font-face {
    font-family: 'exon';
    src: url("/css/Fonts/ExonOutline-4BWx4.otf");
    font-style: normal;
    font-weight: 100;   
  }

@font-face {
    font-family: 'inerta';
    src: url("/css/Fonts/inerta-light.otf");
    font-style: normal;
    font-weight: 100;   
  }


html{
    font-size: 62.5%;
}

body{
    margin: 0 50px 0 50px;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: var(--Dharma-Gothic);
    font-size: 1.6rem;
}

/* typography */
h1{
    font-size: 6em;
    line-height: 1.3em;
}

h2{
    font-size: 4em;
    line-height: 1.3em;
}

h3{
    font-size: 3em;
    line-height: 1.3em;
}

h4{
    font-family: var(--Dharma-Gothic);
    font-size: 3em;
}

h5 {
    font-size: 3.8rem;
    line-height: 1.3;
    margin: 1rem 0;
    font-weight: 800;
}

p {
    font-size: 1.8rem;
    font-weight: 400;
}

.big{
    font-size: 1.8em;
    line-height: 1.2em;
}

/* button */
.btn{
    border: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 2.3rem;
    cursor: pointer;
    font-weight: 800;
}

.btn--primary{
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
.btn--secondary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}


/* shop products */
.shopRow {
    width: 92vw;
    margin: 0 auto;
}

.cardContainer{
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    text-align: center;
    color: var(--color-secondary);
    grid-gap: 5px;
    width: 100%;
}
.card{
    background-color: var(--color-secondary);
    margin: 10px;
    padding: 20px 20px 40px 20px;
    text-align: center;
}

.card--img{
    width: 273px;
}

.card--heading{
    color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
}

.card--amount{
    font-size: 1.8em;
    font-weight: 400;
    color: var(--color-primary);
    font-weight: bold;
}


/* Navigation */

nav {
    background: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
}

.mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 17px;
    font-family: exon;
}


.menuBtn {
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
}

.closeBtn {
    font-size: 3rem;
    cursor: pointer;
}

nav .logo {
    margin: -30px;
    cursor: pointer;
}

.mainMenu {
    display: flex;
    list-style: none;
    height: 100vh;
    position: fixed;
    padding-top: 2rem;
    top: 14rem;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background: var(--color-primary);
    transition: top 1s ease;
    display: none;
    margin-top: 0;
}

.mainMenu .closeBtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}

nav .menuBtn {
    display: block;
}

.closeBtn{
    margin-right: 30px;
    display: none;
}

.mainMenu li a:hover {
    background: none;
    font-size: 4.7rem;
}

a{
    text-decoration: none;
}



/* post on the inside page */

.post{
    display: flex;
}

.post--img{
    width:280px;
    height: 300px;
}

.postMainHeading{
    padding-right: 10rem;
    line-height: 3.8rem;
}

.post--inside{
    padding: 0 30px 0 30px;
}

.post--heading{
    font-size: 3rem;
}

.post--link{
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.5rem;
}

.post--link::after{
    content: ' →';
    padding-left: 4px;
    color: var(--color-secondary);
}

.postContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.lineContainer{
    margin-bottom: 60px;
}

.line{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.line--text1{
    margin-top: 10px;
}

.line--text2{
    margin-top: 80px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.line--img{
    margin-bottom: 4px;
    margin-left: 20px;
    height: 2px;
}

.productDisplay{
    padding: 25px;
    font-family: Dharma;
}

.insideHeading{
    font-family: var(--exon-outline);
    line-height: 2rem;
    font-size: 3rem;
}

.imgRightPost{
    display: grid;
    grid-template-columns: 65% 35%;
}

.imgLeftPost{
    display: grid;
    grid-template-columns: 35% 65%;
}

.leftPostContainer{
    margin-left: 25px;
}

.mainPost{
    margin-top: 40px;
}

.mainSingle{
    padding-left: 0px;
    padding-right: 40px;
}
.singleImgRight{
    padding-left: 0px;
    padding-right: 40px;
}


/* social icon */
.socialIcon{
    padding: 12px 25px;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 5px;
}

.socialIcon--primary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/* MMXXI ARCHIVE */
.mmxx{
    font-family: var(--exon-outline);
}
.mmxx::after{
    content: '→';
    margin-left: 3rem;
}


/* creed section */
.creedContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.creedContent{
    padding-right: 3.8rem;
}

.creedContent > h3{
    margin-top: 0;
    font-size: 3.9rem;
    font-weight: 600;
    line-height: 1.6;
}

.creedImg{
    background: url(/img/IMG\ G.png);
}

/* about */
.aboutContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
.aboutContent{
    padding: 0px 60px 0 0;
    font-size: 1.7rem;
    line-height: 30px;
    font-family: inerta;
}

.readMore::after{
    content: ' →';
    margin-left: 10px;
    font-family: inerta;
}
.readMore{
    font-family: inerta;
    font-size: 1.1rem;
    cursor: pointer;
}

.container {
    width: 91vw;
    margin: 0 auto;
}

/* logo footer */
.logoFooter {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footerCross {
    width: 30rem;
    display: inline-block;
}

.footerCross:hover {
    transform: scale(1.02);
}

.footerCookie:hover {
    transform: scale(1.2);
}

.footerSlogan {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.footerCookie {
    height: 3rem;
    display: inline-block;
}


/* homepage */
.homeContent {
    position: relative;
}

.whiteBg {
    width: calc(100% - 10rem);
    height: 52rem;
    background-color: white;
    position: relative;
    left: 10rem;
    margin-bottom: 3rem;
}

.homepageBlogImage {
    position: absolute;
    top: -0.5rem;
    display: inline-block;
    width: 92%;
    height: 83%;
    z-index: 2;
}

.homepageBlogImage:hover {
    transform: scale(1.01);
}

.homeBlogHeading {
    position: absolute;
    color: black;
    bottom: 1rem;
    left: 15rem;
    font-weight: bold;
    display: flex;
    width: 25rem;
    justify-content: space-between;
}

.homeBlogHeading:hover {
    left: 16rem;
}

.dateBg {
    background-color: black;
    position: absolute;
    top: 0rem;
    right: 0;
    height: 15rem;
    width: 100%;
    z-index: 1;
}

.blogDate{
    font-family: var(--exon-outline);
}

.homeContent .blogDate {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    color: white;
    width: 6rem;
    text-align: right;
}

.homeContent .blogDate:hover {
    top: 2rem;
}


/* contact page */
.contactContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.contactItem{
    flex-basis: 33.3%;
}

.contactInfoHeading{
    font-size: 2em;
    margin: 0;
}

.contactInfo{
    font-size: 1.8rem;
    font-family: inerta;
}

.owulaTrend{
    margin-top: 60px;
}
.contactUs{
    margin-top: 60px;
}

/* form */
input[type=email] {
    width: 52%;
    padding-bottom: 12px;
    background-color: var(--color-primary);
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    color: var(--color-secondary);font-family: inerta;
    
  }

input::placeholder{
    font-family: inerta;
}

input[type=email]:focus {
    outline: none;
  }