:root{
    --color-primary: #000;
    --color-secondary: #fff;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* typography */
h1{
    font-size: 6em;
    line-height: 1.3em;
}

h2{
    font-size: 4em;
    line-height: 1.3em;
}

h3{
    font-size: 3em;
    line-height: 1.3em;
}

.big{
    font-size: 1.8em;
    line-height: 1.2em;
}

/* button */
.btn{
    border: none;
    padding: 17px 40px;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.btn--primary{
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
.btn--secondary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}


/* shop products */
.cardContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    color: var(--color-secondary);
}
.card{
    background-color: var(--color-secondary);
    margin: 10px;
    padding: 20px 20px 30px 20px;
}

.card--img{
    width: 240px;
    height: 240px;
}

.card--heading{
    color: var(--color-primary);
}

.card--amount{
    font-size: 1.8em;
    font-weight: 400;
    color: var(--color-primary);
}


/* Navigation */

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 3rem;
    cursor: pointer;
}

.menuItems{
    font-size: 5rem;
}

nav .logo {
    text-transform: uppercase;
    margin: 6px;
    font-size: 4rem;
    cursor: pointer;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background: #000;
    transition: top 1s ease;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}
nav .openMenu {
    display: block;
}
nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}