:root{
    --color-primary: #000;
    --color-secondary: #fff;
    /* --Dharma-Gothic: Dharma; */
    --exon-outline: exon;
    --inerta-normal: inerta;
}

/* @font-face {
    font-family: "Dharmathin";
    src: url("/css/Fonts/Dharma\ Gothic\ E\ W01\ Thin.ttf") format("woff");
    font-weight: 100;
  }
@font-face {
    font-family: "Dharmaregular";
    src: url("/css/Fonts/Dharma\ Gothic\ M\ W01\ Regular.ttf") format("woff");
    font-weight: 600;
  }
@font-face {
    font-family: "Dharmabold";
    src: url("/css/Fonts/Dharma\ Gothic\ M\ W01\ Bold.ttf") format("woff");
    font-weight: 800;
  } */

@font-face {
    font-family: 'DharmaThin';
    src: url("/css/Fonts/Dharma\ Gothic\ E\ W01\ Thin.ttf");
    font-style: normal;
    font-weight: 800;   
  }

@font-face {
    font-family: 'DharmaRegular';
    src: url("/css/Fonts/DharmaRegular.woff");
    font-style: normal;
    font-weight: 600;   
  }

@font-face {
    font-family: 'DharmaBold';
    src: url("/css/Fonts/DharmaBold.woff");
    font-style: normal;
    font-weight: 800;   
  }


@font-face {
    font-family: 'exon';
    src: url("/css/Fonts/ExonOutline-4BWx4.otf");
    font-style: normal;
    font-weight: 100;   
  }

@font-face {
    font-family: 'inerta';
    src: url("/css/Fonts/inerta-light.otf");
    font-style: normal;
    font-weight: 100;   
  }


html{
    font-size: 62.5%;
}

body{
    margin: 0 50px 0 50px;
    padding: 0;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: DharmaRegular;
    font-size: 1.6rem;
    font-weight: 400;
}

.container {
    width: 86vw;
    margin: 0 auto;
}

.fixedHeight{
    overflow-y: hidden;
    max-height: 100vh;
}

/* typography */
h1{
    font-size: 3.6rem;
    line-height: 1.3;
    letter-spacing: 1.4px;
    margin: 1rem 0;
    font-family: DharmaBold;
}

h2{
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 1.6px;
    margin: 1rem 0;
    font-family: var(--exon-outline)
}

h3{
    font-size: 3rem;
    line-height: 1.3rem;
}

h4{
    font-family: DharmaRegular;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.6px;
    margin-bottom: 3rem;
}

h5 {
    font-size: 3.8rem;
    line-height: 1.3;
    margin: 1rem 0;
    font-family: DharmaBold;
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    font-family: inerta;
    letter-spacing: 0.8px;
}

.big{
    font-size: 1.8em;
    line-height: 1.2em;
}

/* button */
.btn{
    border: none;
    padding: 4px 34px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 1.6px;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: DharmaRegular;
    display: block;
}



.btn:hover {
    transform: scale(1.05)
}

.btn--primary{
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.btn--secondary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/* shop products */
.shopRow {
    width: 92vw;
    margin: 0 auto;
}

.cardContainer{
    display: grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    text-align: center;
    color: var(--color-secondary);
    grid-gap: 5px;
    width: 100%;
}
.card{
    background-color: var(--color-secondary);
    margin: 10px;
    padding: 20px 20px 40px 20px;
    text-align: center;
}

.card--img{
    width: 273px;
}

.card--heading{
    color: var(--color-primary);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
}

.card--amount{
    font-size: 1.8em;
    font-weight: 400;
    color: var(--color-primary);
    font-weight: bold;
}


/* Navigation */

nav {
    background: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.5rem;
    padding-bottom: 1rem;
}

.mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 3px;
    word-spacing: 17px;
    font-family: exon;
    padding-left: 0;
}


.menuBtn {
    font-size: 2rem;
    cursor: pointer;
}

.closeBtn {
    font-size: 3rem;
    cursor: pointer;
}

nav .logo {
    cursor: pointer;
}

.mainMenu {
    display: flex;
    list-style: none;
    height: 100vh;
    position: fixed;
    padding-top: 2rem;
    top: 10rem;
    right: 0;
    left: 78px;
    z-index: 10;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background: var(--color-primary);
    transition: top 1s ease;
    display: none;
    margin-top: 0;
    padding-left: 0;
}

.mainMenu .closeBtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

}

nav .menuBtn {
    display: block;
}

.closeBtn{
    margin-right: 0px;
    display: none;
}

.mainMenu li a:hover {
    background: none;
    font-size: 4.7rem;
}

a{
    text-decoration: none;
}


/* post on the inside page */

.post{
    display: flex;
}

.post--img{
    width:280px;
    height: 300px;
}

.postMainHeading{
    padding-right: 10rem;
    line-height: 3.8rem;
}

.post--inside{
    padding: 0 30px 0 30px;
}

.post--heading{
    font-size: 3rem;
    line-height: 3.5rem;
}

.post--link{
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.5rem;
}

.post--link::after{
    content: ' →';
    padding-left: 4px;
    color: var(--color-secondary);
}

.postContainer{
    display: grid;
    grid-template-columns: 70% 30%;
}

.lineContainer{
    margin-bottom: 60px;
}

.line{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.line--text1{
    margin-top: 10px;
    letter-spacing: 2px;
}

.line--text2{
    margin-top: 11px;
    font-size: 2rem;
    letter-spacing: 2px;
}

.line--img{
    margin-bottom: 4px;
    margin-left: 20px;
    height: 0.5px;
}

.productDisplay{
    padding: 25px;
    font-family: Dharma;
}

.insideHeading{
    font-family: var(--exon-outline);
    line-height: 2rem;
    font-size: 3rem;
}

.imgRightPost{
    display: grid;
    grid-template-columns: 65% 35%;
}

.imgLeftPost{
    display: grid;
    grid-template-columns: 35% 65%;
}

.leftPostContainer{
    margin-left: 25px;
}

.mainPost{
    margin-top: 40px;
}

.mainSingle{
    padding-left: 0px;
    padding-right: 40px;
}
.singleImgRight{
    padding-left: 0px;
    padding-right: 40px;
}

.videoPost{
    margin-top: 50px;
}

.iconContainer{
    display: flex;
    width: 100%;
    align-items: stretch;
}

.iconItem:nth-of-type(1){
    flex-grow: 50;
}
.iconItem:nth-of-type(2){
    flex-grow: 1;
}

/* social icon */
.socialMediaIcons {
    margin-top: 4rem;
}

.socialIcon{
    padding: 12px 25px;
    font-size: 3rem;
    font-weight: 600;
    margin-right: 10px;
}

.socialIcon--primary{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

/* MMXXI ARCHIVE */
.mmxx{
    font-family: var(--exon-outline);
}
.mmxx::after{
    content: '→';
    margin-left: 3rem;
}


/* creed section */
.creedContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.creedContent{
    padding-right: 3.8rem;
}

.creedContent p{
    font-family: DharmaRegular;
    margin-top: 0;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.6px;
}

.creedImg{
    background: url(/img/creed\ page.jpg);
}

.imageLineSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1px;
    width: 92%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.imageLineSection .line--img {
    display: inline-block;
    width: 87%;
}

.imageLineHeading {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
}

.imageLineHeading img {
    width: 95%;
}

/* about */
.aboutContainer{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2rem;
}

.crossIconContainer{
    text-align: center;
    padding: 3rem;
}

.crossIcon{
    width: 90px;
    height: 90px;
}

.aboutContent{
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    font-family: inerta;
    letter-spacing: 0.8px;
}

.readMore::after{
    content: ' →';
    margin-left: 10px;
    font-family: inerta;
}
.readMore{
    font-family: inerta;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #bbbbbb;
}

/* logo footer */
.logoFooter {
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0 5rem 0;
}

.footerCross {
    width: 15rem;
    display: inline-block;
}

.footerCross:hover {
    transform: scale(1.02);
}

.footerCookie:hover {
    transform: scale(1.2);
}

.footerSlogan {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.footerCookie {
    height: 1.5rem;
    display: inline-block;
}


/* homepage */
.homeContent {
    position: relative;
    height: calc(100vh -  2.5rem - 20rem);
}

.whiteBg {
    width: calc(100% - 10rem);
    height: calc(100vh -  2.5rem - 18rem);
    background-color: white;
    position: relative;
    left: 10rem;
    margin-bottom: 3rem;
}

.homepageBlogImage {
    position: absolute;
    top: -0.5rem;
    display: inline-block;
    width: 92.5%;
    height: 87%;
    z-index: 2;
}

.homepageBlogImage:hover {
    transform: scale(1.01);
}

.homeBlogHeading {
    position: absolute;
    color: black;
    bottom: -0.5rem;
    left: 14.5rem;
    font-weight: bold;
    display: flex;
    width: 18rem;
    justify-content: space-between;
    align-items: center;
}

.homeBlogHeading:hover {
    left: 16rem;
}


.arrow-right {
    height: 3.2rem
}

.dateBg {
    background-color: black;
    position: absolute;
    top: -4rem;
    right: 0;
    height: 11.2rem;
    width: 100%;
    z-index: 1;
    padding-bottom: px;
}

.blogDate{
    font-family: var(--exon-outline);
}

.homeContent .blogDate {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: white;
    width: 7rem;
    text-align: right;
}

.homeContent .blogDate:hover {
    top: 2rem;
}


/* contact page */
.contactContainer{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.contactItem{
    flex-basis: 33.3%;
}

.contactItem button {
    margin-top: 3.9rem;
}

.contactInfoHeading{
    margin: 0;
}

.contactInfo{
    font-size: 1.8rem;
    font-family: inerta;
}

.owulaTrend{
    margin-top: 60px;
}
.contactUs{
    margin-top: 60px;
}

.subscriptionForm {
    margin-top: 1rem;
}

/* form */
input[type=email] {
    width: 52%;
    padding-bottom: 12px;
    background-color: var(--color-primary);
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-secondary);font-family: inerta;
    
  }

input::placeholder{
    font-family: inerta;
}

input[type=email]:focus {
    outline: none;
  }

.footerContainer {
    position: absolute;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}