<div class="creedContainer">
    <div class="creedContent">
        <h3>CHIVALRY NEVER DIED, SOME MEN RATHER IGNORE IT
            THROUGH TIME, MEN HAVE LIVED FOR GOD, COUNTRY AND - WOMEN
            TODAY, WE REMINISCE THE PRIME ELEGANCE OF MANHOOD 
            <p>BY REBIRTHING STYLE AND EVEN-TEMPEREDNESS, THE DEBONAIR OF NOBLEMEN</p>
            WE PREACH CHARACTER AND COMPOSURE – TELLING TALES
            OF A DYING BREED</h3>
    </div>
    <div class="creedImg">

    </div>
</div>

<div class="aboutContainer">
    <div class="aboutLeft">
        <p class="aboutContent">An all gentleman’s hub where we discuss manly issues, sports and all endeavors. An all gentleman’s hub where we discuss 
            manly issues, sports and all endeavors. An all gentleman’s hub where we discuss manly issues, sports and all endeavors. An 
            all gentleman’s hub where we discuss manly issues, sports and all endeavors.
        </p>
        <p style="text-align: center;">
            <img src="/img/FIXXIES OWULA LOGO.png" alt="" width="100" height="100">
        </p>
        <p class="aboutContent">An all gentleman’s hub where we discuss manly issues, sports 
            and all endeavors. An all gentleman’s hub where we discuss 
            manly issues, sports and all endeavors</p>
    </div>
    <div class="aboutRight">
        <p class="aboutContent">An all gentleman’s hub where we discuss manly issues, sports and all endeavors. An all gentleman’s hub where</p>
        <p class="readMore">Read With Us</p>
        <div class="">
            <p class="line line--text2">Fear Mor <img src="/img/line.jpg" alt="" class="line--img" width="333"></p>
        </div>
        <p class="aboutContent" style="margin-top: 50px;">An all gentleman’s hub where we discuss manly issues, sports and all endeavors. An all gentleman’s hub where</p>
        <p class="readMore">Read With Us</p>
        <div class="">
            <p class="line line--text2">Fear Mor <img src="/img/line.jpg" alt="" class="line--img" width="333"></p>
        </div>
    </div>
    <p>
        <img src="/img/Asset 3@300x.png" alt="" width="200" height="25">
    </p>
</div>