<h1 class="insideHeading">BORN TO WIN • July MMXXI</h1>
    <div class="postContainer">
        <div class="">
            <h4 class="postMainHeading">TREAT HER WITH RESPECT, ALL THE TIME, MAKE HER FEEL SPECIAL, LIKE SHE IS THE BEST THING ON EARTH AND THE SWEETEST THING IN HEAVEN</h4>
            <div class="lineContainer">
                <p class="line line--text1">Quotes <img src="/img/line.jpg" alt="" class="line--img" width="620"></p>
            </div>
             <div class="post">
                <img src="/img/IMG B.png" alt="" class="post--img">
                <div class="post--inside">
                   <h3 class="post--heading">TREAT HER WITH RESPECT, ALL THE TIME, MAKE HER FEEL SPECIAL</h3>
                   <p><a href="#" class="post--link">2 mins Read </a></p>
                   <div class="">
                       <p class="line line--text2">Fear Mor <img src="/img/line.jpg" alt="" class="line--img" width="333"></p>
                   </div>
                </div>
             </div>
        </div>
    </div>    