<nav>
    <div class="logo"><h4 style="margin-left: 30px;">Oluwa</h4></div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu">
        <div class="logo"><h4>Oluwa</h4></div>
        <li class="menuItems"><a href="#">The Creed</a></li>
        <li class="menuItems"><a href="#">Letters</a></li>
        <li class="menuItems"><a href="#">Shop</a></li>
        <li class="menuItems"><a href="#">Contact</a></li>
        <div class="closeMenu"><i class="fa fa-times"></i></div>
    </ul>
</nav>  