<div class="imgRightPost mainPost">
    <div class="rightPostContainer">
         <div class="post">
            <div class="post--inside singleImgRight">
               <h3 class="post--heading">TREAT HER WITH RESPECT, ALL THE TIME, MAKE HER FEEL SPECIAL, LIKE SHE IS THE 
                BEST THING ON EARTH AND THE SWEETEST THING IN HEAVEN</h3>
               <p><a href="#" class="post--link">2 mins Read </a></p>
            </div>
         </div>
         <div class="lineContainer">
            <p class="line line--text1">She <img src="/img/line.jpg" alt="" class="line--img" width="620"></p>
        </div>
    </div>

    <div>
        <img src="/img/IMG D.png" alt="" width="386" height="">
    </div>
</div>